doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    +css([
      {url: "https://fonts.googleapis.com/css?family=Lobster"},
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldiconfont", path: "ldif.min.css"},
      {name: "ldgradienteditor", version: "dev"},
      {url: "/css/index.css"}
    ])
    style(type="text/css"): :stylus
      @font-face {
        font-family: 'ldi';
        font-weight: normal;
        font-style: normal;
        src: url('assets/lib/ldiconfont/main/ldif.ttf') format('truetype');
      }


  body
    include module.pug
    br
    br
    .title
      //-h1 Gradient.js
      img(src="assets/img/logo.svg",alt="Gradient.js")
      p minimalist linear gradient editor 
    br
    #menu.menu
      i.i-bars
      i.i-clone
      i.i-save
      i.i-close
    .sorts
      .sort.h(data-action="sort.h")
      .sort.c(data-action="sort.c")
      .sort.l(data-action="sort.l")

    #container
      #add(style="width:118px;height:118px;border-radius:50%;border:1px dashed #ddd;display:inline-block;margin:15px;vertical-align:top;background:#fff;")
    +script([
      {url: "https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"},
      {name: "@loadingio/ldquery"},
      {name: "ldcolor"},
      {name: "ldgradienteditor", version: "dev"}
    ])
    script(type="module"): include:lsc index.ls
