doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="lib/ldcp.min.css")
    link(rel="stylesheet",type="text/css",href="ldge.css")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    include module.pug
    br
    br
    center
      h1 ldGradient
      p Curated gradient list and minimalist editor
    br
    #container
    script(src="lib/ldColor.min.js")
    script(src="lib/ldcp.min.js")
    script(src="lib/ldq.min.js")
    script(src="ldge.js")
    script(src="index.js")
